<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="{{ siteUrl }}assets/style.css">
	</head>
	<body>
		<img src="{{ siteUrl }}assets/images/placeholder.com-logo3.jpg" height="50px" width="200px" alt="">

		<h1>Hi</h1>

		{{ entry.richText}}

		<script src="{{ siteUrl }}assets/script.js"></script>

		<img src="{{ entry.featureImage.one().getUrl('medium') }}" alt="">

	</body>
</html>
